/* *{scroll-behavior: smooth;} */

.app{
    position: fixed;
}
a{
    text-decoration: none;
}

.login{
background: linear-gradient(94.12deg, #000000 17.67%, #000000 68.68%);
border-radius: 23px;
margin-left: 50px;
height: 2rem;
text-align: center;
padding: 0 10px;
cursor: pointer;
margin-bottom: 2rem;
}
.login:hover{
    box-shadow: 2.5px 0px 10px 1px #48b4db ;
    }

.login-txt{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 29px;
letter-spacing: 0.2em;
text-decoration: none;
margin: auto;
color: #FFFFFF;
text-align: left;
white-space: nowrap;
}